@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

:root{
  --primary: #bd4a42;
}

body{
  font-family: 'Lato', sans-serif;
}

.m-pokedex-header{
  width: 100%;
  background-color: var(--primary);
  text-align: center;
  padding: 25px 0;
}

.m-pokedex-header .a-pokedex-logo{
  width: 70%;
  max-width: 300px;
}

.t-main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.o-img-pokemon{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-pokemon-title{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: lightgray;
  text-align: center;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 25px 0 0 0;
  max-width: 447px;
}

.a-pokemon-icon{
  width: 10%;
  margin-right: 25px;
}

.a-pokemon-name{
  font-size: 5vw;
}

.m-pokemon-image{
  margin: 0;
  width: 100%;
  transform: translateY(25px);
  max-width: 454px;
}

.a-pokemon-image{
  width: 70%;
}

.t-stats-pokemon{
  background-color: lightgray;
  width: 80%;
  border-radius: 20px;
  padding: 10px 5px;
  max-width: 447px;
}

.o-stats{
  list-style: none;
  padding: 0 0 0 0;
}

.m-stat{
  font-size: 5vw;
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.a-stat-name{
  font-weight: 700;
  color: var(--primary);
  margin: 0;
  width: 60%;
  padding-left: 30px;
 }

.a-stat-value{
  margin: 0;
  width: 40%;
}

.t-footer-page{
  text-align: center;
  margin-top: 70px;
  font-size: 5vw;
  font-weight: 700;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.o-others-pokemons{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.m-pokemon{
  width: calc( 50% - 30px );
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px;
  cursor: pointer;
  transition: .5s ease background;
  padding: 10px;
}

.m-pokemon:nth-child(1):hover{
  background-color: #3399ff;
}

.m-pokemon:nth-child(2):hover,
.m-pokemon:nth-child(3):hover
{
  background-color: #ff5599;
}

.m-pokemon:nth-child(4):hover{
  background-color: #aaaa99;
}

.a-pokemon{
  width: 70%;
}

@media screen and (min-width: 550px) {
  .a-pokemon-name,
  .m-stat,
  .t-footer-page{
    font-size: 1.8rem;
  }
  .a-pokemon-icon{
    width: 15%;
  }

  .m-pokemon-title{
    padding: 0;
  }
}

@media screen and (min-width: 914px) {
  .m-pokedex-header{
    text-align: left;
    padding-left: 50px;
  }

  .t-main-page{
    flex-direction: row;
  }

  .o-img-pokemon{
    width: 50%
  }

  .a-pokemon-image{
    width: 100%;
  }

  .t-stats-pokemon{
    width: 50%;
  }

  .m-pokemon-image{
    transform: translateY(0);
  }

  .o-stats{
    display: flex;
    flex-wrap: wrap;
  }

  .m-stat{
    width: 50%;
    flex-direction: column;
    text-align: center;
  }

  .m-stat p{
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .t-footer-page{
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  .a-title{
    width: 20%;
  }

  .o-others-pokemons{
    flex-direction: row;
  }

  .m-pokemon{
    width: 20%;
  }

  .a-pokemon{
    width: 50%;
  }
}